& {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: $backgroundColor;

  // h3 {
  //     margin: px(60) 0 0 0; 
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //     font-size: px(24);
  //     font-weight: bold;
  //     text-align: center;
  //     text-align: center;
  // }

  h1 {
    margin: px(70) px(60) 0;
    color: $headerColor;
    // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: Arial;
    font-size: px(44);
    font-weight: bold;
    letter-spacing: 0.4px;
  }

  h2 {
    margin: px(30) px(60) 0;
    color: $headerColor;
    font-family: Georgia;
    // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: px(36);
    font-weight: bold;
    line-height: 1.27;
  }

  p {
    flex-grow: 2;
    margin: px(82) px(60) 0;
    font-family: Arial;
    font-size: px(26);
    font-weight: normal;
    line-height: 1.38;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 px(60) px(30);

    &>input {
      display:none;            
    }

    &>input + label {
      color: $headerColor;
      font-family: Arial;
      font-size: px(36);
      font-weight: normal;
      line-height: px(48);
      cursor: pointer;
    }

    &>input + label::before {
      content: '';
      display: block;
      float: left;
      height: px(48);
      width: px(48);
      margin: 0 px(10);
      border-radius: 50%;
      background:#d8d8d8 url('../../theme/images/hello/ic-checkbox.svg') no-repeat center;
      background-repeat: no-repeat;
    }

    &>input:checked + label::before {
      background:#30a3fe url('../../theme/images/hello/ic-checkbox.svg') no-repeat center;
    }

    button {
      width: 100%;
      line-height: px(76);
      margin: px(80) 0 0;
      border: 0;
      border-radius: px(14);
      background: #30a3fe;
      color: #fff;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: px(24);
      font-weight: 700;
      opacity: 1;
    }

    a {
      width: 100%;
      line-height: px(76);
      margin: px(80) 0 0;
      border: 0;
      border-radius: px(14);
      background: #30a3fe;
      color: #fff;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: px(24);
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      opacity: 1;
    }

    .disabled {
      opacity: .5;
    }

    button:disabled {
      opacity: .5;
    }
  }

}
