$headerColor:                   #414C53;
$backgroundColor:               #f9f9f9;
$buttonBackgroundColor:         #30a3fe;
$buttonGradientStop:            #A8C835;
$linkColor:                     #51AAEC;
