@font-face {
  font-family: 'Lato-Black';
  src: url('../theme/fonts/Lato-Black.eot');
  src: url('../theme/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Black.woff2') format('woff2'),
    url('../theme/fonts/Lato-Black.woff') format('woff'),
    url('../theme/fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../theme/fonts/Lato-BlackItalic.eot');
  src: url('../theme/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-BlackItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-BlackItalic.woff') format('woff'),
    url('../theme/fonts/Lato-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../theme/fonts/Lato-Bold.eot');
  src: url('../theme/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Bold.woff2') format('woff2'),
    url('../theme/fonts/Lato-Bold.woff') format('woff'),
    url('../theme/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../theme/fonts/Lato-BoldItalic.eot');
  src: url('../theme/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-BoldItalic.woff') format('woff'),
    url('../theme/fonts/Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('../theme/fonts/Lato-Hairline.eot');
  src: url('../theme/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Hairline.woff2') format('woff2'),
    url('../theme/fonts/Lato-Hairline.woff') format('woff'),
    url('../theme/fonts/Lato-Hairline.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('../theme/fonts/Lato-HairlineItalic.eot');
  src: url('../theme/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-HairlineItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-HairlineItalic.woff') format('woff'),
    url('../theme/fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url('../theme/fonts/Lato-Heavy.eot');
  src: url('../theme/fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Heavy.woff2') format('woff2'),
    url('../theme/fonts/Lato-Heavy.woff') format('woff'),
    url('../theme/fonts/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url('../theme/fonts/Lato-HeavyItalic.eot');
  src: url('../theme/fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-HeavyItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-HeavyItalic.woff') format('woff'),
    url('../theme/fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../theme/fonts/Lato-Italic.eot');
  src: url('../theme/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Italic.woff2') format('woff2'),
    url('../theme/fonts/Lato-Italic.woff') format('woff'),
    url('../theme/fonts/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../theme/fonts/Lato-Light.eot');
  src: url('../theme/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Light.woff2') format('woff2'),
    url('../theme/fonts/Lato-Light.woff') format('woff'),
    url('../theme/fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../theme/fonts/Lato-LightItalic.eot');
  src: url('../theme/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-LightItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-LightItalic.woff') format('woff'),
    url('../theme/fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../theme/fonts/Lato-Medium.eot');
  src: url('../theme/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Medium.woff2') format('woff2'),
    url('../theme/fonts/Lato-Medium.woff') format('woff'),
    url('../theme/fonts/Lato-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../theme/fonts/Lato-MediumItalic.eot');
  src: url('../theme/fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-MediumItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-MediumItalic.woff') format('woff'),
    url('../theme/fonts/Lato-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../theme/fonts/Lato-Regular.eot');
  src: url('../theme/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Regular.woff2') format('woff2'),
    url('../theme/fonts/Lato-Regular.woff') format('woff'),
    url('../theme/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../theme/fonts/Lato-Semibold.eot');
  src: url('../theme/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Semibold.woff2') format('woff2'),
    url('../theme/fonts/Lato-Semibold.woff') format('woff'),
    url('../theme/fonts/Lato-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../theme/fonts/Lato-SemiboldItalic.eot');
  src: url('../theme/fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-SemiboldItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-SemiboldItalic.woff') format('woff'),
    url('../theme/fonts/Lato-SemiboldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../theme/fonts/Lato-Thin.eot');
  src: url('../theme/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-Thin.woff2') format('woff2'),
    url('../theme/fonts/Lato-Thin.woff') format('woff'),
    url('../theme/fonts/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../theme/fonts/Lato-ThinItalic.eot');
  src: url('../theme/fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme/fonts/Lato-ThinItalic.woff2') format('woff2'),
    url('../theme/fonts/Lato-ThinItalic.woff') format('woff'),
    url('../theme/fonts/Lato-ThinItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

