& {
  min-height: 100vh;
  padding: px(64) 0 px(20);
  // background: $backgroundColor;
  @include gradientBorder(5px, 0);
  color: $headerColor;

  header {
    position: relative;
    
    button {
      position: absolute;
      margin: 0 0 0 px(34.13);
      border: 0;
      background: 0;
      outline: 0;
      svg {

        &:hover {
          .arrow {
            fill: $buttonBackgroundColor;
          }
        }
      }
    }

    h3 {
      color: $headerColor;
      font-family: Lato-Light;
      font-size: px(40.96);
      font-weight: 100;
      font-style: italic;
      letter-spacing: 0px;
      // line-height: px(54.61);
      text-align: center;  
    }

  }

  main {
    display: flex;
    flex-direction: column;
    margin: px(34.13) 0 0;

    div {
      display: flex;
      margin: 0 px(36) px(25.6);
      background-color: #fff;

      // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);

      textarea {
        display: block;
        width: 100%;
        min-height: px(360.11);
        max-height: 50vh;
        margin: px(28) 0 0;
        padding: px(28) px(24);
        border: 1px solid $textAreaBorderColor;
        border-radius: 3px;
        color: $headerColor;
        font-family: Lato;
        font-size: px(27.31);
        resize: none;

        &:focus {
          outline: 0;
        }
      }
    }

    span {
      color: $spanEmailColor;
      font-family: Lato-Light;
      font-size: px(20.48);
      font-weight: 100;
      text-align: center;
    }
  }
}
