$headerColor:                   #1c1d26;
$backgroundColor:               #f9f9f9;
$photoHoverBorderColor:         #30a3fe;
$photoBorderColor:              #fff;
$photoShadowColor:              rgba(0,0,0,0.25);

