& {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 5px 0;
  @include gradientBorder(5px, 0);

  h2 {
    margin: px(60) px(60) 0;
    color: #1c1d26;
    font-family: Lato-Light;
    font-size: px(51.2);
    font-weight: 100;
    font-style: italic;
    line-height: px(68.26);
  }

  p {
    flex-grow: 2;
    margin: px(82) px(60) 0;
    color: #1c1d26;
    font-family: Lato;
    font-size: px(27.3);
    font-weight: 100;
    letter-spacing: 0px;
    line-height: px(37.55);
  }

}
