$headerColor:                   #1c1d26;
$backgroundColor:               #fff;
$buttonBackgroundColor:         #30a3fe;
$pColor:                        #414c53;
$nameColor:                     #51aaec;
$textOverlayGradientStop:       rgba(255, 255, 255, .08);
