& {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color: #f9f9f9;

  >div {
    display: flex;
    justify-content: space-between;
    margin: px(70) 0 0;
    padding: 0 px(51.2);

    h1 {
      color: $fontColor;
      font-family: Lato-Light;
      font-size: px(51.2);
      font-weight: 100;
      font-style: italic;
      letter-spacing: 0.5px;
      text-align: center;

      span {
        font-family: Lato-Semibold;
      }
    }

    button {
      border: 0;
      background: $transparent;

      svg {
        path {
          fill: #c2c2c2;
        }
      }

      &:hover {
        svg {
          path {
            fill: url(#hover);
          }
        }
      }

      &:focus {
        outline: 0;
      }
    }
  }

  h3 {
    margin: px(40) 0 0 0;
    color: #1c1d26;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: px(24);
    font-weight: bold;
    text-align: center;
  }


  h2 {
    margin: px(30) px(60) 0;
    color: $fontColor;
    font-family: Lato-Light;
    font-size: px(41);
    font-weight: 100;
    font-style: italic;
    line-height: px(54.61);
  }

  p {
    // margin: px(82) px(60) 0;
    color: #1c1d26;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: px(26);
    font-weight: normal;
    line-height: 1.38;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    padding: 0 px(34.13);

    .radio {
      flex-grow: 2;
      // display: block;
      // min-width: 75%;
      margin: 0 px(8.53) px(17.07);

      input {
        display:none;            
      }

      label {
        display: flex;
        justify-content: flex-start;
        // margin: 0 px(44);
        padding: px(34.13);
        // @include gradientBorder(2px, 6px);
        // border: solid 1px #e4e4e4;
        // border-radius: 3px;
        // border: 2px solid $borderColor;
        // border-radius: px(10.24);
        @include gradientBorder(1px, px(10.24), $borderColor, $borderColor);
        color: #1c1d26;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: px(26);
        font-weight: normal;
        line-height: 1.38;

        cursor: pointer;

        // &::before {
        //   // display: inline-block;
        //   min-width: px(40);
        //   min-height: px(40);
        //   height: px(40);
        //   margin: auto px(24);
        //   border-radius: px(40);
        //   background: #d8d8d8;
        //   content: '';
        // }
      }
      input:checked + label {
        padding: px(34.13) px(32.43);
        @include gradientBorder(2px, px(10.24));
        border-bottom: 0;
        border-top: 0;
        box-sizing: border-box;
        // background: #fff;
        // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);

        // &::before {
        //   background: #30a3fe;
        // }
      }
    }

    .checkbox{
      display: flex;
      margin: 0 px(8.53) px(17.07);

      input {
        display:none;            
      }

      label {
        color: #1c1d26;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: px(26);
        font-weight: normal;
        line-height: 1.38;
      }
              
      input + label {
        display: flex;
        justify-content: space-between;
        // margin: 0 px(10);
        padding: px(25.6) px(34.13);
        @include gradientBorder(1px, px(5.12), $borderColor, $borderColor);
        // border: solid 1px #e4e4e4;
        // border: solid 1px #30a3fe;
        // border-radius: 3px;
        // background-color: #ffffff;
        // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      input:checked + label {
        padding: px(25.6) px(32.43);
        @include gradientBorder(2px, px(5.12));
        border-bottom: 0;
        border-top: 0;
        box-sizing: border-box;
        // border: solid 1px #30a3fe;
        // background: #fff;
        // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
      }

      // &>.checkbox + label::before {
      //     content: '';
      //     display: inline-block;
      //     min-width: px(52);
      //     min-height: px(52);
      //     height: px(52);
      //     // margin: px(10);
      //     margin: auto px(20);
      //     border-radius: px(52);
      //     // background-image: url('../../images/hello/ic-checkbox.svg');
      //     background-repeat: no-repeat;
      // }

      // &>.checkbox + label::before {
      //     // background: #d8d8d8;
      //     // background-image: url('../../images/hello/ic-checkbox.svg');
      //     // //background-image: url('../../images/hello/ic-checkbox.svg');
      //     // background-position: center;  
      //     background:#d8d8d8 url('../../images/hello/ic-checkbox.svg') no-repeat center;
      // }

      // &>.checkbox:checked + label::before {
      //     background:#30a3fe url('../../images/hello/ic-checkbox.svg') no-repeat center;
      //     // background: #30a3fe;
      //     // background-image: url('../../images/hello/ic-checkbox.svg');
      //     // background-position: center;    
      //     //background-image: url('../../images/hello/ic-checkbox-select.svg');
      //     // background-position: -114px -260px;
      // }
    }
  }
}
